[submodule "ibm/IBM-Platform-LSF-Environment"]
	path = ibm/IBM-Platform-LSF-Environment
	url = git@github.com:bayudwiyansatria/IBM-Platform-LSF-Environment.git
	master = master
[submodule "apache/Apache-Hadoop-Environment"]
	path = apache/Apache-Hadoop-Environment
	url = git@github.com:bayudwiyansatria/Apache-Hadoop-Environment.git
	master = master
[submodule "apache/Apache-Spark-Environment"]
	path = apache/Apache-Spark-Environment
	url = git@github.com:bayudwiyansatria/Apache-Spark-Environment.git
	master = master
[submodule "cloudflare/Cloudflare-Worker"]
	path = cloudflare/Cloudflare-Worker
	url = git@github.com:bayudwiyansatria/Cloudflare-Worker.git
	master = master
[submodule "apache/Apache-Kafka-Environment"]
	path = apache/Apache-Kafka-Environment
	url = git@github.com:bayudwiyansatria/Apache-Kafka-Environment.git
	master = master
[submodule "kubernates/Kubernates-Environment"]
	path = kubernates/Kubernates-Environment
	url = git@github.com:bayudwiyansatria/Kubernates-Environment.git
	master = master
[submodule "openvpn/OpenVPN-Environment"]
	path = openvpn/OpenVPN-Environment
	url = git@github.com:bayudwiyansatria/OpenVPN-Environment.git
	master = master
[submodule "vmware/VMWare-VSphere-Environment"]
	path = vmware/VMWare-VSphere-Environment
	url = git@github.com:bayudwiyansatria/VMWare-VSphere-Environment.git
	master = master