[submodule "ibm/IBM-Platform-LSF-Environment"]
	path = ibm/IBM-Platform-LSF-Environment
	url = git@github.com:bayudwiyansatria/IBM-Platform-LSF-Environment.git
	master = master
[submodule "apache/Apache-Hadoop-Environment"]
	path = apache/Apache-Hadoop-Environment
	url = git@github.com:bayudwiyansatria/Apache-Hadoop-Environment.git
	master = master
[submodule "apache/Apache-Spark-Environment"]
	path = apache/Apache-Spark-Environment
	url = git@github.com:bayudwiyansatria/Apache-Spark-Environment.git
	master = master
[submodule "cloudflare/Cloudflare-Worker"]
	path = cloudflare/Cloudflare-Worker
	url = git@github.com:bayudwiyansatria/Cloudflare-Worker.git
	master = master
